# Old folder
barvoice-backup.zip

# Node.js & Monorepo
**/node_modules/
**/dist/
**/build/
**/.env
*.log

# Expo / React Native
.expo/
web-build/
expo-env.d.ts
metro.config.js
*.tsbuildinfo

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# Git
.git

# temp scripts
tempScript/hashPassword.js
tempScript/seedUser.js
tempScript/UpdateBiz.ts

# Ignore temp script folder
tempScript/
